/*
 * STYLE CSS DE LA SECTION FILTER
 */
.filter {
    display: none;
}

@media only screen and (min-width: 992px) {
    .filter {
        margin-top: 20px;
        margin-bottom: 82px;
        display: flex;
        gap: 20px;
    }
}

.filter__custom-select {
    position: relative;
    cursor: pointer;
    width: 170px;
}

.filter__custom-select input[type="text"]::placeholder {
    color: #fff;
    opacity: 0.5;
}

.filter__select {
    border: none;
    color: #fff;
    width: 100%;
    height: 69px;
    text-align: start;
    border-radius: var(--br-5);
    font-size: var(--fs-18);
    cursor: pointer;
}

.filter__select:focus {
    outline: none;
}

.filter__select--primary {
    background: var(--primary);
}

.filter__select--success {
    background: var(--success);
}

.filter__select--danger {
    background: var(--danger);
}

.filter__custom-arrow {
    position: absolute;
    right: 18px;
    top: 0;
    bottom: 4rem;
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
}

.filter__custom-arrow--rotate {
    transform: rotate(180deg);
}

.filter__custom-arrow::before {
    content: url("../assets/img/dropdown-icon-up.png");
}

.filter__custom-menu {
    display: none;
    list-style: none;
}

.filter__show {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 55px;
    color: #fff;
    width: 95.78%;
    max-height: 360px;
    overflow: auto;
    border-bottom-left-radius: var(--br-5);
    border-bottom-right-radius: var(--br-5);
}

.filter__custom-menu--primary {
    background: var(--primary);
}

.filter__custom-menu--success {
    background: var(--success);
}

.filter__custom-menu--danger {
    background: var(--danger);
}

.filter__custom-option {
    width: 33%;
    font-size: var(--fs-18);
    /* color: rgb(49, 49, 49); */
    /* text-transform: capitalize; */
}

.filter__custom-option--enable {
    width: 33%;
    padding: 4px 0 4px 20px;
    font-size: var(--fs-18);
    color: rgb(165, 162, 162);
    pointer-events: none;
}

.filter__custom-option--enable:hover {
    cursor: default;
}

.filter__custom-option--enable::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: grey;
    transition: 300ms;
}

.filter__custom-option::after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    background: #fff;
    transition: 300ms;
}

.filter__custom-option:hover::after {
    width: 15%;
}

/* TAGS */
.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 10px;
}

.tags__item {
    display: flex;
    align-items: center;
    border-radius: var(--br-5);
    color: #fff;
    padding: 10px 20px;
}

.tags__item--danger {
    background: var(--danger);
}

.tags__item--success {
    background: var(--success);
}

.tags__item--primary {
    background: var(--primary);
}

.tags__name {
    margin-right: 13px;
}