@import 'filter.css';
@import 'search.css';

:root {
    --light-grey: #e7e7e7;
    --dark-grey: #c7bebe;
    --primary: #3282f7;
    --success: #68d9a4;
    --danger: #ed6454;
    --border-radius: 5px;
    --fs-18: 18px;
    --fs-12: 12px;
    --br-5: 5px;
}

body {
    font-family: "latoregular", sans-serif;
    font-size: 62.5%;
}

@media only screen and (min-width: 992px) {
    .container {
        width: 86%;
        margin: auto;
    }
}

/* header section */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header__logo {
    width: 201px;
}

/* Recipes section */
.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 95%;
    margin: 20px auto;
}

.cards__no-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    z-index: -1;
}

.cards__no-recipes-text {
    font-weight: bold;
    font-size: var(--fs-18);
    color: rgb(49, 49, 49);
}

@media only screen and (min-width: 674px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .cards {
        width: 100%;
        gap: 50px;
    }
}

@media only screen and (min-width: 1198px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card {
    height: 364px;
    background: var(--light-grey);
    border-radius: var(--br-5);
}

.card a {
    display: block;
    text-decoration: none;
    color: #000;
}

.card__thumb {
    height: 178px;
    background-color: var(--dark-grey);
    border-top-left-radius: var(--br-5);
    border-top-right-radius: var(--br-5);
}

.card__body {
    height: 145px;
    padding: 20px;
    margin: 0;
}

.card__head {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card__timeclock {
    content: url("../assets/img/time.svg");
}

.card__time {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 7px;
    font-weight: 700;
}

.card__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    font-size: var(--fs-12);
}

.card__ingredients {
    height: 70px;
    overflow: hidden;
}

.card__ingredient--bold {
    font-weight: 700;
}

.card__description {
    height: 68px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}